
.my-navbar{
    background-color: brown;
}
.my-hero-section{
    /* background: url(../images/hero/hero1.jpg);
    background-size:cover;
    height: 600px;
    width: 100%; */
}
.my-hero-section h2{
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100vh; */
}
https://codepen.io/ammarhasan90/pen/yLoojKj